.ws_conteneur_champs_invisible{
    background : rgba(0,0,0,1);
    padding:10px;
    border-bottom:1px solid #e7e7e7;
    background-color: #ffffff;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1%;

}

.ws_conteneur_champs_invisible > div{
    color:#999;
    font-size:12px;
    text-align:left;
    font-size:16px;

}

.ws_conteneur_champs_invisible > div.active{
    color:#4C9ED9;
}


.ws_conteneur_champs_invisible > input{
    color:#666;
    border:0px solid #fff;
    width:100%;
    height:35px;
}
* {box-sizing:border-box}

.button {
    font-family: 'Prata', serif;
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #8e1610;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button:hover{
    box-shadow: white 1px 0 10px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;

}

.button:hover span:after {
    opacity: 1;
    right: 0;
}