html, body {
    background: url("http://127.0.0.1:8000/img/bois2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #7f0000;
    font-family: 'Prata', serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 50px;
}
.top-left {
    position: absolute;
    left: 10px;
    top: 1%;
}

.content {
    text-align: center;
    height: 100%;
    margin-top: 36px;

}

.content:hover {

}
footer{
    background: black  ;
}

.title {
    font-size: 84px;
    text-shadow: white 1px 0 10px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-family: 'Prata', serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links > a:hover {
    color: white;
   font-size: 25px;
    text-decoration: none;

}

.m-b-md {
    margin-bottom: 15px;

}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
}
.sm li a img {
    width:32px;
}
header .navbar-brand, header .navbar-brand img {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    height: 130px;
}
footer {
    background:black;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px
}

.footerleft {
    margin-top: 20px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.footerleft p {

    color: white;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #fff;
}

.paddingtop-bottom {
    margin-top: 20px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
    margin-top: 5px;
}

.footer-ul li a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 200;
    color: #fff;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px dotted #fff;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #73b0f4;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #141d29;
}

.copyright p {
    text-align: center;
    color: white;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    position: relative;
    margin: 0 0 25px;
    color: #fff;
    padding-bottom: 5px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.heading7:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: #fff;
}

.post p a {
    font-size: 12px;
    color: white !important;
    line-height: 20px;
}

.post p a span {
    display: block;
    color: #8f8f8f !important;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: white;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: white;
    font-size: 12px;
}

.post a:hover {

    text-decoration: none;
}
header{
    background-color: rgba(0,0,0,0.5);
    color :darkred;
}
.carousel-inner{
    margin-top: 5%;
}